
{% extends "myapp/base.html" %}


{% block title %}
Practice History
{% endblock %}


{% block content %}


<style>

    /* =========================
       HISTORY PAGE
    ========================= */

    .history-page {

        width: 90%;
        max-width: 900px;

        margin: 40px auto;

    }


    .history-page h1 {

        text-align: center;

        color: #222;

        margin-bottom: 30px;

    }


    /* =========================
       HISTORY CARD
    ========================= */

    .history-card {

        background-color: white;

        padding: 20px;

        margin-bottom: 15px;

        border-radius: 10px;

        border: 1px solid #e5e7eb;

        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);

    }


    .score {

        font-size: 24px;

        font-weight: bold;

        margin-bottom: 10px;

    }


    .percentage {

        font-size: 18px;

        margin-bottom: 10px;

    }


    .date {

        color: #666;

        font-size: 14px;

    }


    /* =========================
       EMPTY MESSAGE
    ========================= */

    .empty {

        background-color: white;

        padding: 30px;

        text-align: center;

        border-radius: 10px;

        border: 1px solid #e5e7eb;

    }


    .empty h2 {

        margin-top: 0;

        color: #222;

    }


    .empty p {

        color: #666;

    }


    /* =========================
       MOBILE
    ========================= */

    @media (max-width: 600px) {

        .history-page {

            width: 94%;

            margin: 25px auto;

        }

        .history-page h1 {

            font-size: 25px;

        }

        .history-card {

            padding: 17px;

        }

        .score {

            font-size: 21px;

        }

    }

</style>



<div class="history-page">


    <h1>
        📅 Practice History
    </h1>


    {% if results %}


        {% for result in results %}


            <div class="history-card">


                <div class="score">

                    Score:

                    {{ result.score }}

                    /

                    {{ result.total_questions }}

                </div>


                <div class="percentage">

                    Percentage:

                    {{ result.percentage }}%

                </div>


                <div class="date">

                    Practiced on:

                    {{ result.practiced_at|date:"d M Y, h:i A" }}

                </div>


            </div>


        {% endfor %}


    {% else %}


        <div class="empty">

            <h2>
                No practice history yet
            </h2>

            <p>

                Complete a practice session
                to see your results here.

            </p>

        </div>


    {% endif %}


</div>


{% endblock %}

